<!DOCTYPE html><html><body><script>
    <% if (locals.success) { %>
    if(window.opener) {
        window.opener.location.href = <%- JSON.stringify(result_url) %>;
    } else {
        location.href = <%- JSON.stringify(result_url) %>;
    }
    <% } else { %>
    if(window.opener) {
        window.opener.location.href = <%- JSON.stringify(index_url) %>;
    } else {
        location.href = <%- JSON.stringify(index_url) %>;
    }
    <% } %>
    window.close();
</script></body></html>